@font-face {
font-family: 'tronregular';
src: url('../font/tron-webfont.woff2')  format('woff2'),
url('../font/tron-webfont.woff')
format('woff');
font-weight: normal;
font-style: normal;
}



/*ELEMENTS*/
body {
background: #181303;
text-align: center;
}

div {
border: 1.5px solid #eeeeee;
border: 1.5px solid rgba(255, 255, 255, 0.4);
box-sizing: border-box;
}

h1, h2, h3, h4 {
font-family: 'tronregular', serif;
}

h1 {
font-size: 3em;
letter-spacing: 10px;
margin-bottom: 1em;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
animation: glow 3s ease-in-out infinite alternate;
}

h2 {
font-size: 2em;
color: #fff;
opacity: 0.8;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
animation: glow 0.5s ease-in-out infinite alternate;
}

h3 {
font-size: 1em;
color: #fff;
}

h4 {
  font-size: 0.75em;
  color: #fff;
  position: absolute;
}

/*CLASSES*/
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.player-name {
  display: inline-block;
  width: 50%;
  float:left;
}

.key-guide {
  font-size: 1em;
  font-family: monospace;
  line-height: 0.8em;
}

.red {
text-shadow: 0 0 10px #fff, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #d91e18, 0 0 70px #d91e18, 0 0 80px #d91e18, 0 0 100px #d91e18;
}

.yellow {
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #f5d76e;
}

/*IDS*/
#top {
margin: 40px 0 0 0;
}

#container {
border: 1.5px solid rgba(255, 255, 255, 0.4);
width: 500px;
height: 500px;
position: relative;
margin: 2em auto 0 auto;
}

#bottom {
width: 100%;
height: 100px;
position: absolute;
bottom: 0;
}

#credits {
font-size: 0.6em;
color: #fff;
margin-top: 2em;
display: inline-block;
}


#playaOne {
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f00, 0 0 40px #d91e18, 0 0 70px #d91e18, 0 0 80px #d91e18, 0 0 100px #d91e18;
}

#playaTwo {
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #f5d76e, 0 0 70px #f5d76e, 0 0 80px #f5d76e;
}
